<app-home-nav></app-home-nav>

<div class="container-fluid containerWrapper">
    <section data-testid="product-page-banner">
        <h2 style="text-align: center;">{{productName}}</h2>
        <img src="{{productImage}}" class="productImage" alt="" srcset="" style="width: 480px; height: 240px;">
    </section>
    <section style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-5" style="text-align: right;">
                <h3 style="margin: 10px;">{{newPrice |currency}}   <span style="text-decoration: line-through; color: red;">{{price|currency}}</span></h3>
                <button type="button" class="btn btn-primary btn-lg" data-testid="product-page-add-to-cart" (click)="addToCart()">Add To Cart</button>
                <button type="button" class="btn btn-secondary btn-lg"  data-testid="product-page-buy-now" (click)="buyNow()">Buy Now</button>
            </div>
            <div class="col-md-7" style="justify-content: center; margin-top: 20px;">
                <h4>PRODUCT DESCRIPTION</h4>
                <p>{{productDescription}}</p>
            </div>
        </div>
    </section>
    <section >
        <h4 style="text-align: center;">Recommended Products</h4>
        <div class="row">
            <div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div><div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>