<app-home-nav></app-home-nav>

<div class="container-fluid containerWrapper">
    <section data-testid="product-page-banner">
        <h2 style="text-align: center;">Smart Phone</h2>
        <img src="http://via.placeholder.com/640x240" class="productImage" alt="" srcset="">
    </section>
    <section style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-5" style="text-align: right;">
                <h3 style="margin: 10px;">PRICE OF PRODUCT</h3>
                <button type="button" class="btn btn-primary btn-lg" data-testid="product-page-add-to-cart">Add To Cart</button>
                <button type="button" class="btn btn-secondary btn-lg" data-testid="product-page-buy-now">Buy Now</button>
            </div>
            <div class="col-md-7" style="justify-content: center; margin-top: 20px;">
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
        </div>
    </section>
    <section >
        <h4 style="text-align: center;">Recommended Products</h4>
        <div class="row">
            <div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div><div class="col-md-4">
                <img src="http://via.placeholder.com/360x240" class="recommendedProducts" alt="" srcset="">
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>