<app-home-nav></app-home-nav>

<div class="container-fluid containerWrapper">
    <div class="container" style=" margin-top: 3px;" data-testid="homepage-product">
        <h3>{{categoryName|titlecase}}s</h3>
        <hr>
        <div class="row">
          <div class="col-sm-12 " >
            <div class="row">

              <div  *ngFor="let product of productsData" class="col-sm-12 col-lg-4"  >
                <h4 style="text-align: center;">{{product.productName|titlecase}}</h4>
                <img class="img-fluid imgCenter" src="{{product.productImage}}" style="margin: auto; display: block;">
                <p style="text-align: center;"><span style="text-align: center; margin-right:2px ;">{{product.price - product.discountedPrice|currency}}</span>
                  <span style="text-align: center; text-decoration: line-through; color: red;">{{product.price|currency}}</span>
                </p>
              

                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="navigateToProduct(product)">View Product</button>
                  </div>
                </div>
              </div>
           
              
             
            </div>
          </div>
        </div>
      </div>
      <!-- .................................. -->


</div>

<app-footer></app-footer>