<app-home-nav></app-home-nav>
<div class="container containerWrapper">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img data-testid="profile-image" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                               
                                <button class="btn btn-primary" data-testid="profile-upload-button" >Upload Image</button>
                                <button class="btn btn-outline-primary" data-testid="profile-delete-button">Delete Image</button>
                            </div>
                        </div>
                        <hr class="my-4">
                       
                    </div>
                </div>
            </div>
            <!-- ................end of col-4.............. -->

            <div class="col-lg-8">
                  <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12"  style="text-align: center;"><h5>User Information</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p >First Name:</p></div>
                                    <div class="col-sm-7"><h6 data-testid="profile-first-name">{{firstName|titlecase}}</h6></div>
                                </div> <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p>Last Name:</p></div>
                                    <div class="col-sm-7"><h6 data-testid="profile-last-name">{{lastName|titlecase}}</h6></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p>Email:</p></div>
                                    <div class="col-sm-7"><h6 data-testid="profile-email-name">{{email}}</h6></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p>Phone:</p></div>
                                    <div class="col-sm-7"><h6>{{phone}}</h6></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p>Interests:</p></div>
                                    <div class="col-sm-7"><h6>Iphone, Airpods</h6></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: right;"><p>Address:</p></div>
                                    <div class="col-sm-7"><h6>9912 NorthRidge</h6></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" ></div>
                                    <div class="col-sm-7"> 
                                         <button class="btn btn-outline-primary" data-testid="address-edit-button">Edit Address</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ...................end of card.......................... -->
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="John Doe">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="john@example.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(239) 816-9029">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(320) 380-4539">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input type="button" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>
                    </div>
                </div>
              <!-- ...........end of card............ -->
            </div>
            <!--end of col-8 -->
        </div>
    </div>
</div>

<app-footer></app-footer>